# Default ignored files
/shelf/
/workspace.xml
dist/merge_pdfs.exe
# dist/HimanshuMergingSoftware.exe
merge_pdfs.exe
build/merge_pdfs/HimanshuMergingSoftware(V4).pkg
dist/HimanshuMergingSoftware(V4).exe